<!DOCTYPE html>
<html lang="{% if page.language == nil %}en{% else %}{{ page.language }}{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="aexITLS38FdIRzwj25OVWxm87rpa9l-UV0URTyC9cTs" />
  <title>
    {{ page.title }}
    {% if page.category == 'blog' and page.url != '/blog/index.html' %}
    - Jiang Yantao
    {% endif %}
  </title>
  <link rel="stylesheet" href="../css/site.css">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  {% if page.description %}<meta name="description" content="{{page.description}}" />{% endif %}
  <link rel="alternate" type="application/atom+xml" title="RSS Feed for Jiang Yantao's blog" href="/feed.xml" />

  {% if page.url == '/en/index.html' %}
    <link rel="alternate" hreflang="ch" href="/" />
  {% elsif page.url == '/index.html' %}
    <link rel="alternate" hreflang="en" href="/en/" />
  {% endif %}

  {{ page.extra_head }}

  {% if page.category == 'blog' %}
    {% if page.photo %}
      <meta property="og:image" content="/images/posts/{{ page.photo }}" />
    {% endif %}
  {% endif %}
</head>
<body>
  <div class="top-bar">
  </div>
  <div class="header-container">
    <header class="inner">
      {% if page.url == '/en/index.html' %}
      <nav>
        <a class="{% if page.category == 'about' %} selected {% endif %}" href="/en/">About</a>
        <a class="{% if page.category == 'project' %} selected {% endif %}" href="/project/">Project</a>
        <!--<a class="{% if page.category == 'resume' %} selected {% endif %}" href="/resume/">Resume</a>-->
        <a href="/resume/">Resume</a>
        <!--a class="{% if page.category == 'publication' %} selected {% endif %}" href="/publication/">出版</a-->
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Blog</a>
        <!--<a class="{% if page.category == 'contact' %} selected {% endif %} contact" href="/contact/">Contact</a>-->
		<a href="#">Employ</a>
        <a href="https://github.com/hi-github">Github</a>
      </nav>
      {% else %}
      <nav>
        <a class="{% if page.category == 'about' %} selected {% endif %}" href="/">关于</a>
        <a class="{% if page.category == 'project' %} selected {% endif %}" href="/project/">项目</a>
        <!--<a class="{% if page.category == 'resume' %} selected {% endif %}" href="/resume/">Resume</a>-->
		    <a href="/resume/">简历</a>
        <!--a class="{% if page.category == 'publication' %} selected {% endif %}" href="/publication/">Publication</a-->
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">博客</a>
		<a href="/books/">书籍</a>
        <!--<a class="{% if page.category == 'contact' %} selected {% endif %} contact" href="/contact/">Contact</a>-->
        <a href="https://github.com/hi-github">Github</a>
      </nav>
      {% endif %}
      
      <div class="pull-right right logo">
        <div class="name">
          <a href="/">Jiang Yantao</a><br />
          <small>
            <em>
              {% if page.url == '/index.html' %}
                <a href="/cn">开发者</a>
              {% else %}
                <a href="/">developer</a>
              {% endif %}
            </em>
          </small>
        </div>
        <img class="avatar" src="/images/JiangYantao.png" alt="My profile picture" />
      </div>
      <div class="clear"></div>
    </header>
    <div class="clear"></div>
  </div>

  {{ content }}
  <div class="separator"></div>

  <div  style="border-bottom: 1px solid #ddd"></div>
    <footer>
    <p class="linkings">
        Friend: <a href="http://audiebantzhan.github.io/">audiebantzhan</a>&nbsp&nbsp<a href="https://github.com/EncodeTheWoldDecodeMyself/">ZhaoPengChong</a>
    </p>
    <p class="linkings">
        Database: <a href="https://github.com/Trinea/android-open-project">android-open-project</a>
    </p>
    <p class="linkings">
        Utils: <a href="https://github.com/hi-github/GsonLibrary">GsonLibrary</a>&nbsp&nbsp<a href="https://github.com/hi-github/ormlite-core-android">ormlite-core-android</a>
    </p>
    <!--p>
      Made with <a href="http://jekyllrb.com/">Jekyll</a>,
      hosted on <a href="https://github.com/willard-yuan/willard-yuan.github.io">Github Pages</a>. Theme inspired by <a href="http://ssaunier.github.io">ssaunier</a>.
    </p-->
    <!--/p>
      <a href="http://www.github.com/"><img src="http://www.easycounter.com/counter.php?willard" border="0" alt="Website Hit Counter"></a> since Aug 2014.
    </p-->
    <ul class="links">
      <li>
        <a href="https://github.com/hi-github" title="See my code on GitHub">
          <i class="icon-github"></i>
        </a>
      </li>	  
      <!--li>
        <a href="https://twitter.com/intent/follow?screen_name=yongyuan001" title="Follow me on Twitter">
          <i class="icon-twitter"></i>
        </a>
      </li-->
      <li>
        <a href="https://www.facebook.com/jiangyantao" title="Connect with me on facebook">
          <i class="icon-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/u/0/118199098247024928871/posts" title="I need this link for authorship reasons">
          <i class="icon-google-plus"></i>
        </a>
      </li>
    </ul>
  </footer>

  <!--script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40867989-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    /*!
     * http://github.com/ssaunier/track-outbound-links
     * Copyright 2013 Sébastien Saunier
     * @license MIT
     */
    !function(e,t){function n(){for(var n=t.getElementsByTagName("a"),a=[],r=0;r<n.length;++r){var o=n[r];o.host!=e.location.host&&a.push(o)}return a}function a(n){for(var a=n.srcElement||n.target;a&&("undefined"==typeof a.tagName||"a"!=a.tagName.toLowerCase()||!a.href);)a=a.parentNode;a&&a.href&&(e._gaq&&_gaq.push(["_trackEvent","Outbound link","Click",a.href]),(!a.target||a.target.match(/^_(self|parent|top)$/i))&&(setTimeout(function(){t.location.href=a.href},150),n.preventDefault?n.preventDefault():n.returnValue=!1))}e.addEventListener("load",function(){var e=n();for(var t in e)e[t].addEventListener("click",a)})}(window,document);
    var links = document.links;
    for (var i = 0, linksLength = links.length; i < linksLength; i++) {
       if (links[i].hostname != window.location.hostname) { links[i].target = '_blank'; }
    }

    /*
     * Detect if we are included in an iframe => move.
     */
    if (window.top !== window.self
        && !window.self.location.href.match(/headsha\.re/))
    {
      window.top.location.replace(window.self.location.href);
    }
  </script-->

</body>
</html>
